@model KYSports1.Models.ViewModels.ArticlePage

@{
    ViewBag.Title = "EditArticle";
    Layout = "~/Views/Shared/_Navbar.cshtml";
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
}

<h2>Edit Article</h2>

@using (Html.BeginForm("EditArticle", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.articles.ArticleID)
<table id="formtable">
    <tr>
        <th id="box">Title:</th>
        <td id="box">@Html.TextBox("ArticleTitle", Model.articles.Title)</td>
    </tr>
    <tr>
        <th id="box">Description:</th>
        <td id="box">@Html.TextBox("Description", Model.articles.Description)</td>
    </tr>
    <tr>
        <th id="box">Author:</th>
        <td id="box">@Html.TextBox("Author", Model.articles.Author)</td>
    </tr>
    <tr>
        <th id="box">Select a Category</th>
        @*Update Thanks to John Feminella's reply I found out what the issue is. "UserId" is a property in the Model my View is strongly typed to. When Html.DropDownList("UserId" is changed to any other name but "UserId", the selected value is rendered correctly.*@
        <td id="box">@Html.DropDownList("categoriesID", Model.categories1)</td>
    </tr>
    <tr>
        <th id="box">ImageURL:</th>
        <td id="box">@Html.TextBox("ImageURL", Model.articles.ImageURL)</td>
    </tr>
    <tr>
        <th id="box">Include in Carousel?</th>
        <td id="box">@Html.CheckBox("CarFlg", Model.articles.CarFlg)</td>
    </tr>
    <tr>
        <th id="box">Body:</th>
        <td id="box">@Html.TextArea("ArticleBody", Model.articles.ArticleBody, new { @class = "form-control", @id = "mce" })</td>
        <td id="box"><button type="submit" class="btn btn-primary" id="SubmitName" onclick="SuccessMessage()">Submit</button></td>
    </tr>

</table>
}

    <script>
        tinymce.init({
            selector: '#mce',
            forced_root_block: "",
            encoding: 'xml',
            height: 500,
            menubar: "insert",
            plugins: [
                'media',
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | media',
            media_live_embeds: true,
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'],
            extended_valid_elements: "iframe[src|title|width|height|allowfullscreen|frameborder]"


        });
    </script>