@model KYSports1.Models.ViewModels.ArticlePage

@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
<h1 id="info">@ViewBag.Title</h1>
@foreach (var m in Model.clist)
{
<div class="col-md-6 btn well panel panel-body" onclick="@("window.location.href='" + @Url.Action("GetArticleById", "Administration",new {id=@m.ArticleID }) + "'");">
    <div class="row">
        <div class="col-md-5" id="picbox">
            <img id="thumbnail" src="@m.ImageURL"/>
        </div>
        <div id="info" class="col-md-7">
            <h2 id="info">@m.Title</h2>
            <h4>@m.Published</h4>
            <span>@m.Description</span>
        </div>
    </div>
    <div class="row">

        
    </div>
</div>
}