<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/article")
    <link href="https://fonts.googleapis.com/css?family=Anton|Yanone+Kaffeesatz" rel="stylesheet">
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Home/NavBar.cshtml");
    }
    <div>
        <img src="@Model.articles.ImageURL" align="left" width="300" />
        <h1>@ViewBag.Title</h1>
        <h3 id="author">Author: @ViewBag.Author</h3>
        <h3 id="published">Published: @ViewBag.Date</h3>
        <hr />
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p id="footer">&copy; @DateTime.Now.Year - KYSports1 - UK Sports Coverage</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

