<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KYSports1 - UK Sports Coverage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/NewArticle.css")
    <link href="https://fonts.googleapis.com/css?family=Anton|Cuprum|Yanone+Kaffeesatz" rel="stylesheet">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menuitem">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="menuitem">
                        <div class="dropdown">
                            <button class="dropbtn">Articles</button>
                            <div class="dropdown-content">
                                <p id="pick">Pick A Category</p>
                                @foreach(var m in Model.articles)
                                {
                                    <a href="~/Home/ArticlesByCategory/@m.CategoryID">@m.Category</a>
                                }
                            </div>
                        </div>
                    </li>
                    <li class="menuitem">@Html.ActionLink("Recruiting", "Recruiting", "Home")</li>
                    <li class="menuitem">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="col-sm-12">
                    <div class="col-sm-1">
                    </div>
                    <h3>NEXT GAME:</h3>
                    <div id="nextGame" class="col-sm-offset-2">
                        <p id="module">@Model.gameDetails.GameLocation</p>
                        <p id="module">@Model.gameDetails.Opponent</p>
                        <p id="module">@Model.gameDetails.DayOfWeek - @Model.gameDetails.GameDate</p>
                        <p id="module">@Model.gameDetails.Network</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10" style="margin-right:0px;">
                @RenderBody()
            </div>
        </div>
        <footer>
            <p id="footer">&copy; @DateTime.Now.Year - KYSports1 - UK Sports Coverage - 
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            <a href="https://twitter.com/KY_Sports1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow KY_Sports1</a>
            </p>
        </footer>
    </div>

</body>
</html>
